@use '../../styles/variable.scss' as *;

.header-row {
  padding: 10px 0;
  background-color: #001529;
}

.header-top-row {
  margin-bottom: 10px;
}

.header-text {
  color: white;
}

.shop-icon {
  font-size: 50px;
  color: white;
}

.header-title {
  color: white !important;
}

.search-container {
  background-color: white;
  padding: 5px;
}

.icon {
  font-size: 30px;
  color: white;
}

